# OpenAI API Configuration
OPENAI_API_KEY=
# Database Configuration
DATABASE_URL=

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Authentication Configuration

JWT_SECRET_KEY=my-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=43200


#check if production
ENVIRONMENT=production

# Amadeus API Configuration (for flight search functionality)
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=